# For automatic activate a uv virtual environment when switch into a Python project folder.
# Install the `direnv` package for taking adventage of this function.
layout python python3
source .venv/bin/activate
